.genOrange{
    color: #FF4F1F;
}

.loading-text {
    font-size: 32px;
}

.label {
    color: #FF4F1F;
}

.form-label {
    color: #FF4F1F;
    display: block;
    font-size: 1rem;
    font-weight: 700;
}

.div-section {
    display: flex;
    overflow: auto;
}

.div-info {
    flex-grow: 50;
    margin: 20px;
}

.control-selling-party {
    display: flex;
    flex-direction: column;
}

.radio {
    margin-left: 10px;
}

.radio+.radio {
    margin-left: 10px;
}

.button {
    height: 40px;
    border-radius: 25px;
    color: #fff !important;
    background-color: #FF4F1F !important;
    border: 2px solid #FF4F1F;
    font-size: 16px;
}

.button:hover {
    height: 40px;
    border-radius: 25px;
    border-color: #FF4F1F !important;
    color: #FF4F1F !important;
    background-color: #fff !important;    
    border: 2px solid #FF4F1F;    
}

.button:focus {
    box-shadow: 0 0 0 0 !important;
    border-color: #FF4F1F !important;
}

button.delete:hover {
    background-color: #FF4F1F !important;
}

.button.is-light {
    height: 40px;
    border-radius: 25px;
    border-color: #FF4F1F !important;
    color: #FF4F1F !important;
    background-color: #fff !important;    
    border: 2px solid #FF4F1F;   
}

.button.is-light:hover {
    height: 40px;
    border-radius: 25px;
    color: #fff !important;
    background-color: #FF4F1F !important;
    border: 2px solid #FF4F1F;
    font-size: 16px;
}

.app-hardwareAddons.div-info {
    margin: 10px;
}

.textarea:focus {
    border-color: #FF4F1F !important;
    box-shadow: 0 0 0 0 !important;
}

.input:focus {
    border-color: #FF4F1F !important;
    box-shadow: 0 0 0 0 !important;
}

.field.is-grouped {
    margin: 20px 0px;
}

.checkbox {
    margin-left: 10px;
}

.help.is-danger {
    color: #FF4F1F !important;
}

.is-danger.input {
    border-color: #FF4F1F !important;
}

.preview-image img {
    max-height: 100px;
}

.use-case {
    margin-bottom: 10px;
}

#btn-add-useCase {
    margin-bottom: 10px;
}

#app-useCases {
    margin-left: 20px;
}

.useCase-title {
    margin-bottom: 10px;
}

.useCase-benefits {
    height: 13em !important;
}

.card-content {
    padding: 1rem !important;
}

.card-header-icon {
    align-items: flex-end !important;
    padding: 0px !important;
    justify-content: flex-end !important;
}

.file-label.btn {
    margin-bottom: 10px;
}

.file-cta {
    height: 40px;
    border-radius: 25px;
    border-color: #FF4F1F !important;
    color: #FF4F1F !important;
    background-color: #fff !important;    
    border: 2px solid #FF4F1F;
    vertical-align: ;
}

.file-cta:hover {
    height: 40px;
    border-radius: 25px;
    color: #fff !important;
    background-color: #FF4F1F !important;
    border: 2px solid #FF4F1F;
    font-size: 16px;
}

/* Hide by default */
.preview-loading {
    display: none;
    margin-left: 20px;
}