.genOrange{
    color: #FF4F1F;
}

.loading-text {
    font-size: 32px;
}

.form-label {
    color: #FF4F1F;
    display: block;
    font-size: 1rem;
    font-weight: 700;
}

.div-section {
    display: flex;
    overflow: auto;
}

.div-info {
    flex-grow: 50;
    margin: 20px;
}

.control-selling-party {
    display: flex;
    flex-direction: column;
}

.radio {
    margin-left: 10px;
}

.radio+.radio {
    margin-left: 10px;
}

.button {
    height: 40px;
    border-radius: 25px;
    color: #fff !important;
    background-color: #FF4F1F !important;
    border: 2px solid #FF4F1F;
    font-size: 16px;
}

.button:hover {
    height: 40px;
    border-radius: 25px;
    border-color: #FF4F1F !important;
    color: #FF4F1F !important;
    background-color: #fff !important;    
    border: 2px solid #FF4F1F;    
}

.button:focus {
    box-shadow: 0 0 0 0 !important;
}

.button.is-light {
    height: 40px;
    border-radius: 25px;
    border-color: #FF4F1F !important;
    color: #FF4F1F !important;
    background-color: #fff !important;    
    border: 2px solid #FF4F1F;   
}

.button.is-light:hover {
    height: 40px;
    border-radius: 25px;
    color: #fff !important;
    background-color: #FF4F1F !important;
    border: 2px solid #FF4F1F;
    font-size: 16px;
}

.app-hardwareAddons.div-info {
    margin: 10px;
}

.textarea:focus {
    border-color: #FF4F1F !important;
    box-shadow: 0 0 0 0 !important;
}

.input:focus {
    border-color: #FF4F1F !important;
    box-shadow: 0 0 0 0 !important;
}

.field.is-grouped {
    margin: 20px 0px;
}

.checkbox {
    margin-left: 10px;
}

.preview-image img {
    max-height: 100px;
}

/* Hide by default */
.preview-loading {
    display: none;
    margin-left: 20px;
}