.genOrange{
  color: #FF4F1F;
}

.genViolet{
  color: #5D3E5D;
}

.loading-text {
  font-size: 32px;
}

body {
  overflow-x: auto;
}

a {
  color: #FF4F1F;
}

.listing-key {
  color: #444A52;
  font-weight: bold;
}

.button {
  height: 40px;
  border-radius: 25px;
  color: #fff !important;
  background-color: #FF4F1F !important;
  border: 2px solid #FF4F1F;
  font-size: 16px;
}

.button:hover {
  height: 40px;
  border-radius: 25px;
  border-color: #FF4F1F !important;
  color: #FF4F1F !important;
  background-color: #fff !important;    
  border: 2px solid #FF4F1F;    
}

.button:focus {
  box-shadow: 0 0 0 0 !important;
  border-color: #FF4F1F !important;
}

.collapsible {
  background-color: white;
  border: 2px solid #FF4F1F !important;   
  color: #FF4F1F;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  border-radius: 25px;
  outline-style: none;
}

.active {
  color: #fff !important;
  background-color: #FF4F1F !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.collapsible:hover {
  color: #fff !important;
  background-color: #FF4F1F !important;
}

.button-container {
  text-align: right;
}

#btn-approve {
  margin: 10px;
}

#interactions-loader{
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
}

#loader-text{
  font-size: 20px;
}

.genesys-details-container{
  text-align: center;
}

#genesys-details {
  font-weight: bold;
}

.hardware-addon-region {
  display: none;
  margin-bottom: 10px;
}

.use-case {
  border-left: 2px solid #DDD; 
  margin: 2px;
  margin-bottom: 20px;
  padding-left: 5px;
}

#devfoundry-comment-container {
  margin-bottom: 20px;
}

section#hero {
    background-color: #222529;
}

section#hero a {
    color: #FDFDFD;
}
section#hero a:hover {
    background-color: #444a52;
}


section#hero img {
    max-height: 1rem;
}

section#hero div.hero-body {
    padding: 1.5rem;
}

#second-refresh {
    padding: 14px;
    padding-right: 22px;
}

.tabs {
  overflow-x: hidden !important;
}

.tabs .is-active a{
  color: #FF4F1F !important;
}

.tabs a{
  color: #4a4a4a !important;
}

.div-section {
  display: flex;
  overflow: auto;
}

.div-info {
  flex-grow: 50;
  margin: 20px;
}

.listing-key {
  color: #FF4F1F;
}

.hardware-addon-region span, .use-case-title, .use-case-summary, .use-case-benefits {
  margin-left: 10px;
}

#useast-purchase-url, #uswest-purchase-url, #frankfurt-purchase-url, #ireland-purchase-url, #japan-purchase-url, #australia-purchase-url,
#useast-firmware-url, #uswest-firmware-url, #frankfurt-firmware-url, #ireland-firmware-url, #japan-firmware-url, #australia-firmware-url{
  margin: 0px;
}

.with-margin {
  margin-left: 60px;
}

.textarea:focus {
  border-color: #FF4F1F !important;
  box-shadow: 0 0 0 0 !important;
}

#preview-listing-iframe {
  width: 100%;
  height: 800px;
}