.genOrange{
  color: #FF4F1F;
}

.genViolet{
  color: #5D3E5D;
}

.loading-text {
  font-size: 32px;
}

.listing-info {
  padding: 10px;
}

a {
  text-decoration: underline;
  color: #FF4F1F;
}

.listing-key {
  color: #444A52;
  font-weight: bold;
}

.button {
  height: 40px;
  border-radius: 25px;
  color: #fff !important;
  background-color: #FF4F1F !important;
  border: 2px solid #FF4F1F;
  font-size: 16px;
}

.button:hover {
  height: 40px;
  border-radius: 25px;
  border-color: #FF4F1F !important;
  color: #FF4F1F !important;
  background-color: #fff !important;    
  border: 2px solid #FF4F1F;    
}

.button:focus {
  box-shadow: 0 0 0 0 !important;
  border-color: #FF4F1F !important;
}

.collapsible {
  background-color: white;
  border: 2px solid #FF4F1F !important;   
  color: #FF4F1F;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  border-radius: 25px;
  outline-style: none;
}

.active {
  color: #fff !important;
  background-color: #FF4F1F !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.collapsible:hover {
  color: #fff !important;
  background-color: #FF4F1F !important;
}

.listing-container {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
  border: 2px solid #FF4F1F !important;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.button-container {
  text-align: right;
}

#btn-approve {
  margin: 10px;
}

#interactions-loader{
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
}

#loader-text{
  font-size: 20px;
}

.listing-field {
  margin-bottom: 10px;
}

.genesys-details-container{
  text-align: center;
}

#genesys-details {
  font-weight: bold;
}

.hardware-addon-region {
  display: none;
}

.use-case {
  border-left: 2px solid #DDD; 
  margin: 2px;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
}